nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background: rgb(73, 79, 82);
  color: white;
}

.nav-links {
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #fccfa6;
  color: white;
  text-align: center;
}

:root {
  --mainBlack: #042a2b;
  --mainGreen: #5cb548;
  --darkBrown: #813103;
  --mainCream: #b15805;
  --secondCream: #f8efb4;
  --mainBlue: #659dbd;
  --mainDarkGreen: #19bd19;
  --mainPinky: #daad86;
  --mainWhite: #ffffffe3;
  --mainTransition: all 0.3s linear;
  --mainSpacing: 3px;
  --lightShadow: 2px 5px 3px 0px rgba(221, 218, 218, 0.651);
  --darkShadow: 4px 10px 5px 0px rgba(0, 0, 0, 0.5);
}

/*Globals*/
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.4;
  height: 100%;
}

body a {
  color: var(--mainBlack);
  font-size: 17px;
}

h1 {
  font-size: 27px;
  margin-top: 50px;
  color: var(--mainBlack);
  padding-top: 10px;
}

h3 {
  font-size: 20px;
  margin-top: 50px;
  color: var(--mainBlack);
  padding-top: 10px;
}

p {
  font-size: 17px;
  margin-top: 50px;
  color: var(--mainBlack);
}

p1 {
  font-size: 18px;
  margin: 10px 0px;
  font-style: italic;
}

p2 {
  font-size: 15px;
  margin: 10px 0px;
}

p3 {
  font-size: 14px;
  color: green;
}

.pagelayout {
  background-color: var(--mainPinky);
  padding-left: 243px;
  padding-right: 243px;
  padding-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  min-height: calc(100vh - 66px);
  align-items: center;
  justify-content: center;
  background-color: #fffacd;
}
